# overmind
.overmind.sock

# macOS
.DS_Store

# Temporary files
/tmp/*
!/tmp/.keep

# Misc
/bin
__debug_bin*

/vendor
/out
/node_modules

# Environment
.env
.env.*
!.env.example

# Claude Code
.claude/settings.local.json

# Misc IDEs
/.idea
