@layer base {
  /* `a.button` is a link that looks like a button (see `link_button_to`). */
  button,
  input[type="button"],
  input[type="submit"],
  a.button-bar__item {
    text-decoration: none;
    border-radius: 4px;
    border: 1px black solid;
    padding: 2px 6px;
    font-family: var(--font-family);
    font-size: var(--font-size);
    cursor: default;

    background-color: hsl(0, 0%, 94%);

    &:hover {
      background-color: hsl(0, 0%, 84%);
    }

    &:active {
      background-color: black;
      color: white;
    }
  }
}
